@media screen and (min-width: 1080px) {
    /* Header */

        header {
            justify-content: space-around;
        }
        nav {
            display: none;
        }

        #menuEscondido {
            display: none;
        }
        
        .menu-desktop {
            display: block;
            display: flex;
            align-items: center;
            padding-left: 50px;
        }

        .menu-desktop ul li{
            padding: 0px 30px;
        }

    /*Inicio*/
    
    .inicio {
        height: 70vh;
    }

    #titulo-inicio-mobile {
        display: none;
    }

    #titulo-inicio-desktop {
        display: block;
        font-size: 36px;
        padding-bottom: 15px;
    }

    /* Serviços */

    .servicos {
        flex-direction: row;
    }

    .card-servicos {
        margin: 50px;
    }

    /* Trabalhos */

    .div-trabalhos {
        flex-direction: row
    }

    .card-trabalhos {
        margin: 50px;
    }

    /* Sobre */

    .divSobre {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .divSobre p {
        margin-left: 20vw;
        padding: 0px;
    }

    .divSobre h3 {
        padding: 0vw 0vw;
        margin-left: 20vw;
    }
    
    .divSobre img {
        height: 350px;
        margin-right: 20vw;
    }
}
/* 
@media screen and (min-width: 1080px) and (max-width: 1280px) {
    .divSobre {
        margin: 0px 200px;

    }
}