:root {
    --azul-principal: #38B6FF;
    --preto-principal: #121212;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  var(--preto-principal);
    overflow-x: hidden;
}

h2 {
    font-size: 36px;
    font-weight: 200;
}
/* Header */

header {
    border-bottom: 2px solid #38B6FF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
}

header img {
    width: 80px;
    margin-left: 25px;
}

#menu-estilo {
    padding-left: 160px;
    padding-right: 25px;
    margin-top: 25px;
    font-size: 36px;
    color: #38B6FF;
    cursor: pointer;
}



nav {
    font-weight: 600;
}

#menuEscondido {
    position: absolute;
    z-index: 10;
    display: none;
    background-color: #121212;
    margin-left: 70px;
    margin-top: -5px;
    height: 160px;
    width: 160px;
}

.menu-desktop {
    display: none;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin: 30px 0px;
}

a {
    text-decoration: none;
    color: var(--azul-principal);
}

.estilo-button:hover {
    color: var(--preto-principal);
    background-color: var(--azul-principal);
    padding: 15px;
    border-radius: 10px;
    transition: .6s;
}
/* Inicio */

.inicio {
    background: linear-gradient(#12121221, #121212) ,url(../Imagens/background.jpg) no-repeat center top;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}


.BlueButton {
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--azul-principal);
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.BlueButton:hover {
    transition: .9s;
    color: var(--azul-principal);
    background-color: #121212;
    border: 1px solid #38B6FF;
} 

button i {
    padding-right: 7px;
    font-size: 18px;
}



#titulo-inicio-desktop {
    display: none;
}
/* Serviços */

.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2Blue {
    color: var(--azul-principal);
    text-align: center;
}

.card-servicos {
    background-color: var(--azul-principal);
    text-align: center;
    height: 380px;
    width: 250px;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 20px;
}

.card-servicos button {
    border: none;
    color: var(--azul-principal);
    background-color: var(--preto-principal);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    width: 120px;
}

.card-servicos button:hover {
    color: #121212;
    background-color: var(--azul-principal);
    border: 1px solid #121212;
    transition: .5s;
}

.card-servicos h3 {
    font-size: 25px;
}

.card-servicos p {
    font-size: 12px;
}

.card-servicos span {
    font-size: 100px;
}

.nossos-servicos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.nossos-servicos h2 {
    color: var(--azul-principal);
}

.contratar-servico-h2 {
    font-size: 26px;
}

/* Trabalhos */

.degrade-azul {
    height: 200px;
    background:linear-gradient(#121212 30%, #38B6FF)
}

.div-trabalhos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.secao-trabalhos {
    background-color: var(--azul-principal);
    text-align: center;
    border: 1px solid #38B6FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-trabalhos {
    background-color: var(--preto-principal);
    width: 250px;
    height: 420px;
    color: var(--azul-principal);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0px;
}

.card-trabalhos h3 {
    font-size: 20px;
}

.card-trabalhos button {
    border: none;
    color: var(--preto-principal);
    background-color: var(--azul-principal);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    width: 120px;
    margin: 20px 0px;
}

.card-trabalhos img {
    height: 250px;
}

.blackButton {
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--preto-principal);
    color: var(--azul-principal);
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.blackButton:hover {
    color: #121212;
    background-color: var(--azul-principal);
    border: 1px solid #121212;
    transition: .5s;
}

/* Sobre */

.degrade-preto {
    height: 200px;
    background:linear-gradient(#38b6ff 30%, #121212)
}

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--azul-principal);
}

.sobre h2 {
    text-align: center;
}

.divSobre {
    display: flex;
    flex-direction: column;
}

.divSobre p {
    padding: 0vw 22vw;
}

.divSobre h3 {
    padding: 0vw 22vw;
}

.alinhar-imagem {
    display: flex;
    justify-content: center;
}

.alinharBotao {
    display: flex;
    justify-content: center;
}

.estilo-img-final {
    width: 350px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img {
    height: 300px;
}

footer p {
    color: var(--azul-principal);
}